* {
    margin: 0;
    padding: 0;
    font-family: "math";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    position: relative;
}

.pag1-content {
    display: flex;
    justify-content: space-between;
}

.video {
    position: absolute;
    top: -20vw;
    left: 28vw;
    opacity: 0.8;
    transform: scale(1.4);

}

.page1-para {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.page1-para sup {
    font-size: 2vw;
}

.page1-para h1 {
    font-size: 4.6vw;
    font-weight: 300;
    padding-left: 3vw;
    line-height: 75px;
    font-family: serif;
}

nav h3 {
    font-size: 1.5vw;
    font-weight: 500;
}

nav {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 3vw;
    padding: 0 3vw;
}

#navbar{
    z-index: 999;
    background-color: #FF5F38;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.9s ease-out, opacity 0.7s ease-out, visibility 0.7s ease-out
}
#btn2 {
    font-size: 1.5vw;
    font-weight: 100;
    cursor: pointer;
    position: absolute;
    right: 49px;
    background: transparent;
    border: none;
    color: black;
    height: 26px;
    top: 48px;
}
#navbar.open {
    height: 65%;
    opacity: 1;
    visibility: visible;
}
#nav-box1 video{
    height: 45%;
    width: 23%;
    object-fit: cover;
    position: absolute;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 1px;
  }
  #navbar h3{
    color: rgb(56, 56, 56);
    font-size: 2vw;
    font-family: math;
    position: relative;
    margin-top: 3vw;
    margin-left: 0.1vw;
  }
.inner-btn {
    border: 1px solid black;
    padding: 0.9vw 2vw;
    border-radius: 5px;
    font-size: 1.2vw;
    background: transparent;
    margin: 1vw 0.6vw;
    cursor: pointer;
}

.inner-btn a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.inner-btn:hover {
    background-color: rgb(99, 62, 62);
    transition: all ease-in-out 0.4s;
}


#btn2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    bottom: 0;
    background-color: black;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#btn2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar ul {
    /* border: 2px solid white; */
    position: absolute;
    top: 5vw;
    right: 17vw;

}

#btn {
    font-size: 1.5vw;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
    color: black;
}

#btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    bottom: 0;
    background-color: black;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 3vw;
    font-family: math;
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-box2 ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2.3px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform ease 0.3s;
    transform: scaleX(0);
    cursor: pointer;
}

.nav-box2 ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar ul li {
    list-style: none;
}


.page2 {
    /* border: 2px solid blue; */
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.left-head {
    /* border: 2px solid red; */
    padding: 9vw 2vw;
    position: absolute;
}

.left-head h1 {
    /* border: 2px solid red; */
    font-size: 1.8vw;
    font-family: serif;
    font-weight: 400;
}

.page2-content {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 7vw;
}

.right1 {
    /* border: 2px solid red; */
    width: 62%;
    display: flex;
    padding: 1.8vw 0vw;
    border-top: 1px solid black;
    margin-right: 3vw;
    margin-bottom: 15px;
}

.head1 h1 {
    font-size: 2vw;
    font-family: serif;
    font-weight: 500;
}

.para1 p {
    font-size: 1.5vw;
    font-family: sans-serif;
    padding: 1px;
    margin-left: 8vw;
}

.right2 {
    /* border: 2px solid red; */
    width: 62%;
    display: flex;
    padding: 1.8vw 0vw;
    border-top: 1px solid black;
    margin-right: 3vw;
    margin-bottom: 15px;
}

.head2 h1 {
    font-size: 2vw;
    font-family: serif;
    font-weight: 500;
}

.para2 p {
    font-size: 1.5vw;
    font-family: sans-serif;
    padding: 1px;
    margin-left: 9.1vw;

}

.right3 {
    /* border: 2px solid red; */
    width: 62%;
    display: flex;
    border-top: 1px solid black;
    padding: 1.8vw 0vw;
    margin-right: 3vw;
    margin-bottom: 15px;
}

.head3 h1 {
    font-size: 2vw;
    font-family: serif;
    font-weight: 500;
}

.para3 p {
    font-size: 1.5vw;
    font-family: sans-serif;
    padding: 1px;
    margin-left: 4vw;
}

.page3 {
    height: 90vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.page3 h1 {
    font-size: 4vw;
    font-weight: 400;
    padding: 4vw 3vw;
    font-family: system-ui;
}

.page3 h2 {
    font-size: 4vw;
    font-family: system-ui;
    padding: 0 3vw;
    font-weight: 400;
}

.page4 {
    height: 100vh;
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
}

.boxes {
    display: flex;
    align-items: end;
    height: 100%;
    width: 94%;
    /* border: 2px solid blue; */
    margin-left: 3vw;
    gap: 10px;
    transition: height 0.5s ease, gap 0.5s;
}

.box1 {
    background-color: black;
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10vw;
}

.box1 h1 {
    color: white;
    font-size: 2.9vw;
    font-family: math;
    font-weight: 500;
}

.innerleft {
    display: flex;
    justify-content: space-around;
    gap: 12vw;
}

.box1 p {
    border: 2px solid white;
    color: white;
    font-size: 25px;
    border-radius: 101px;
    padding: 8px 18px;
}

.downleft h2 {
    color: white;
    font-size: 2vw;
    font-weight: 400;
    padding-left: 3.5vw;
}

.box2 {
    background-color: black;
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10vw;
}

.box2 h1 {
    color: white;
    font-size: 2.9vw;
    font-family: math;
    font-weight: 500;
}

.innerright {
    display: flex;
    justify-content: space-around;
    gap: 12vw;
}

.box2 p {
    border: 2px solid white;
    color: white;
    font-size: 25px;
    border-radius: 101px;
    padding: 8px 18px;
}

.downright h2 {
    color: white;
    font-size: 2vw;
    font-weight: 400;
    padding-left: 3.5vw;
}

.page5 {
    height: 100vh;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.page5 h1 {
    font-size: 9vw;
    font-weight: bold;
    font-family: math;
}

.page6 {
    height: 100vh;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.page6 h1 {
    font-size: 8vw;
    font-weight: 500;
    font-family: math;
    color: white;
}

.page7 {
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
}

.page7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#page8 {
    height: 58vh;
    width: 100%;
    background-color: black;
    border: 2px solid black;
}

.page8-heading {
    color: white;
    padding: 5vw 3vw;
}

.page8-btn {
    font-size: 1.4vw;
    padding: 0.9vw 1vw;
    border-radius: 8px;
    background: transparent;
    border: 1.5px solid white;
    color: white;
    text-align: center;
    margin-top: 1.8vw;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.page8-btn a {
    list-style: none;
    text-decoration: none;
    color: white;
    /* border: 2px solid red; */
    padding: 9px 0px;
}

.page8-btn:hover {
    background-color: rgb(249, 243, 243);
    color: black;
}

.page8-btn a:hover {
    color: black;
}

.page8-heading h1 {
    font-size: 1.8vw;
    font-weight: 500;
    font-family: math;
}

.list-item ul li {
    color: white;
    list-style: none;
    padding: 0 2.3vw;
    font-size: 1.1vw;
    font-family: math;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.list-item ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}

.list-item ul li a::after,
.list2-item ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.list-item ul li a:hover::after,
.list2-item ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page8-content {
    display: flex;
    justify-content: space-between;
    height: 52vh;
}

.list-item {
    display: flex;
    padding: 5vw 2vw;

}

.page8-content2 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 3vw;
}

.place h3 {
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
}

.email {
    color: white;
    display: flex;
}

.email h4 {
    margin: 0vw 2.4vw;
    font-size: 1.2vw;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.email h4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.email h4:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.year {
    color: white;
}

#footer {
    height: 50vh;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    text-align: center;
}

#footer h1 span {
    font-size: 21vw;
    color: white;
    font-family: monospace;
    font-weight: 900;
    display: inline-block;
}